
<main id="content" role="main" class="flex-grow-1 overflow-hidden content-space-4" *ngIf="user">
    <!-- Content -->
    <div class="container">
      <div class="mx-lg-auto mt-5" style="max-width: 55rem;">
        <div class="justify-content-center align-items-center flex-column">
          <div class="position-relative">
            <!-- Nav -->
            <ul class="nav nav-pills justify-content-center mb-7" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="nav-one-eg2-tab" href="#nav-one-eg2" data-bs-toggle="pill" data-bs-target="#nav-one-eg2" role="tab" aria-controls="nav-one-eg2" aria-selected="true">Mon compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-two-eg2-tab" href="#nav-two-eg2" data-bs-toggle="pill" data-bs-target="#nav-two-eg2" role="tab" aria-controls="nav-two-eg2" aria-selected="false">Mes commandes</a>
                </li>
            </ul>
            <!-- End Nav -->
            <!-- Tab Content -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-one-eg2" role="tabpanel" aria-labelledby="nav-one-eg2-tab">
                <div class="card card-shadow card-login">
                  <div class="row">
                    <div class="card-body" id="display-alert">
                      <app-alert *ngIf="success" message={{message}} color="alert-primary"></app-alert>
                      <form [formGroup]="updateUserForm" (ngSubmit)="onUpdateUserForm()" class="js-validate needs-validation" novalidate id="signup-form">
                        <div class="text-center">
                          <div class="mb-5">
                            <h3 class="card-title">Modifier votre compte</h3>
                          </div>
                        </div>

                        <!-- full name -->
                        <div class="row">
                          <div class="col-sm-2">
                            <app-select-civility [id]="'civility'"  [civilityControl]="getFormControl('civility')"  [submitted]="submittedUpdateUserForm"></app-select-civility>
                          </div>

                          <div class="col-sm-5">
                            <app-firstname-field [id]="'firstName'"  [firstNameControl]="getFormControl('firstName')"  [submitted]="submittedUpdateUserForm"></app-firstname-field>
                          </div>

                          <div class="col-sm-5">
                            <app-lastname-field [id]="'lastName'"  [lastNameControl]="getFormControl('lastName')" [submitted]="submittedUpdateUserForm"></app-lastname-field>
                          </div>
                        </div>

                        <!-- end full name -->

                        <span class="divider-center text-muted mb-4">Adresse de facturation</span>
                        <!-- Address -->
                        <div class="row">
                          <div class="col-sm-6">
                            <app-street-field [id]="'invoiceStreet'" [streetControl]="getFormControl('invoiceStreet')" [submitted]="submittedUpdateUserForm"></app-street-field>
                          </div>
                          <div class="col-sm-6">
                            <app-address-complement-field [id]="'invoiceAddressComplement'" [addressComplementControl]="getFormControl('invoiceAddressComplement')"></app-address-complement-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-2">
                            <app-zip-code-field [id]="'invoiceZipCode'"  [zipCodeControl]="getFormControl('invoiceZipCode')" [submitted]="submittedUpdateUserForm"></app-zip-code-field>
                          </div>
                          <div class="col-sm-5">
                            <app-city-field [id]="'invoiceCity'"  [cityControl]="getFormControl('invoiceCity')" [submitted]="submittedUpdateUserForm"></app-city-field>
                          </div>
                          <div class="col-sm-5">
                            <app-country-field [id]="'invoiceCountry'"  [countryControl]="getFormControl('invoiceCountry')" [submitted]="submittedUpdateUserForm"></app-country-field>
                          </div>
                        </div>
                        <!-- end address -->
                        <div class="d-grid gap-4">
                          <button type="submit" class="btn btn-primary btn-lg">Valider les modifications</button>
                        </div>
                      </form>

                      <span class="divider-center text-muted mt-4 mb-4">Adresse de livraison</span>
                      <form [formGroup]="updateDeliveryForm" (ngSubmit)="onUpdateDeliveryUserForm()" class="js-validate needs-validation" novalidate id="signup-form2">
                        <div class="row">
                          <div class="col-sm-6">
                            <app-street-field [id]="'deliveryStreet'" [streetControl]="  getFormControlDeliveryForm('deliveryStreet')" [submitted]="submittedUpdateDeliveryForm"></app-street-field>
                          </div>
                          <div class="col-sm-6">
                            <app-address-complement-field [id]="'deliveryAddressComplement'"  [addressComplementControl]="getFormControlDeliveryForm('deliveryAddressComplement')"></app-address-complement-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-2">
                            <app-zip-code-field [id]="'deliveryZipCode'"  [zipCodeControl]="getFormControlDeliveryForm('deliveryZipCode')" [submitted]="submittedUpdateDeliveryForm"></app-zip-code-field>
                          </div>
                          <div class="col-sm-5">
                            <app-city-field [id]="'deliveryCity'"  [cityControl]="getFormControlDeliveryForm('deliveryCity')" [submitted]="submittedUpdateDeliveryForm"></app-city-field>
                          </div>
                          <div class="col-sm-5">
                            <app-country-field [id]="'deliveryCountry'"  [countryControl]="getFormControlDeliveryForm('deliveryCountry')" [submitted]="submittedUpdateDeliveryForm"></app-country-field>
                          </div>
                        </div>

                        <div class="d-grid gap-4">
                          <button type="submit" class="btn btn-primary btn-lg">Enregistrer une adresse de livraison</button>
                        </div>
                      </form>
                      <div class="d-grid gap-4">
                        <button type="submit" class="btn btn-danger btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#deleteAccount">Supprimer votre compte</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- SVG Shape -->
                <figure class="position-absolute top-0 end-0 zi-n1 d-none d-sm-block mt-n7 me-n10" style="width: 4rem;">
                  <img class="img-fluid" src="../../../assets/img/pointer-up.svg" alt="Image Description">
                </figure>
                <!-- End SVG Shape -->

                <!-- SVG Shape -->
                <figure class="position-absolute bottom-0 start-0 d-none d-sm-block ms-n10 mb-n10" style="width: 15rem;">
                  <img class="img-fluid" src="../../../assets/img/curved-shape.svg" alt="Image Description">
                </figure>
                <!-- End SVG Shape -->
              </div>

              <div class="tab-pane fade content-space-md-2" id="nav-two-eg2" role="tabpanel" aria-labelledby="nav-two-eg2-tab">
                  <ng-container *ngIf="this.orderList && this.orderList.length > 0; then orderDisplay; else noOrder">
                  </ng-container>
                    <ng-template #orderDisplay>

                      <!-- Accordion -->
                      <div class="accordion" id="accordionOrder">
                        <div *ngFor="let order of orderList; let i = index"  class="accordion-item">
                          <div class="accordion-header" [id]="'heading' + i">
                            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i" >
                              Commande n°{{ order.number }} du {{ order.date | date: 'dd/MM/yyyy' }}
                            </a>
                          </div>
                          <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionOrder">
                            <div class="accordion-body">
                              <div *ngFor="let item of order.lines" class="card mb-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-2 col-md-1">
                                      <div class="avatar">
                                        <img class="avatar-img" [src]="'data:image/png;base64,' + item.image" alt="Image Description">
                                      </div>
                                    </div>
                                    <div class="col-10 col-md-11">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <h5 class="card-title">{{ item.title }}</h5>
                                        </div>
                                        <div class="col-md-3">
                                          <p class="card-text"><strong>Prix :</strong> {{ item.priceIncludingTaxes | number:'.2' }} €</p>
                                        </div>
                                        <div class="col-md-3">
                                          <p class="card-text"><strong>Quantité :</strong> {{ item.quantityOrder }}</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <p class="mt-2">Montant : {{ order.totalExcludingTaxes | number:'.2' }} €</p>
                              <div>
                                <button class="btn btn-primary" (click)="orderPdf(order)"><i class="bi bi-file-pdf"> Générer la facture</i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Accordion -->

                    </ng-template>
                    <ng-template #noOrder>
                      <div class="container text-center mt-lg-10 mb-lg-10 content-space-t-1">
                        <div class="mt-lg-6">
                          <h1 class="display-6">Vous n'avez pas encore passé de commande.</h1>
                          <br>
                          <p class="display-6">Ne vous inquiétez pas, nous avons le livre qu'il vous faut...</p>
                        </div>
                        <a class="btn btn-primary mt-3" routerLink="../../home">Page d'accueil</a>
                      </div>
                    </ng-template>


              </div>

            </div>
            <!-- End Tab Content -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </main>

<!-- Modal confirm delete-->
<div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccount" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAccountLabel">Demande confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous certain(e) de vouloir désactiver votre compte de manière permanente ?</p>
        <div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUser()">Oui</button>
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
