<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">

      <!-- Dropdown pour sélectionner un utilisateur -->
      <div class="d-flex justify-content-between">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Sélectionner un utilisateur
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let user of users" (click)="selectUser(user)">{{ user.civility }} {{ user.firstname }} {{ user.lastname }}</a>
          </div>
        </div>
        <button class="btn btn-primary" *ngIf="selectedUserCheck" (click)="addUser()">Nouveau utilisateur</button>
      </div>

      <!-- Formulaire pour ajouter/modifier un utilisateur -->
      <form (ngSubmit)="onSubmit()" class="js-validate needs-validation" novalidate id="user-form" [formGroup]="userForm">
        <!-- full name -->
        <div class="row">
          <div class="col-sm-2 mt-3">
            <app-select-civility [civilityControl]="getCivilityControl()" [submitted]="submitted"></app-select-civility>
          </div>

          <div class="col-sm-5 mt-3">
            <app-firstname-field [firstNameControl]="getFirstNameControl()" [submitted]="submitted"></app-firstname-field>
          </div>

          <div class="col-sm-5">
            <div class="form-group mt-4">
              <label for="userLastname">Nom<span class="text-danger">*</span></label>
              <input [ngClass]="{'is-invalid':submitted && userForm.get('lastName')?.invalid}" type="text" class="form-control form-control-lg" id="userLastname" name="userLastname" formControlName="userLastname" required>
              <div *ngIf="submitted && userForm.get('lastName')?.errors?.['required']" class="text-danger">
                Le nom est obligatoire.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group mt-4">
              <label for="email">Email<span class="text-danger">*</span></label>
              <input [ngClass]="{'is-invalid':submitted && userForm.get('email')?.invalid}" type="email" class="form-control" id="email" name="email" formControlName="email" required>
              <div *ngIf="submitted && userForm.get('email')?.errors?.['required']" class="text-danger">
                L'email est obligatoire.
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group mt-4">
              <label for="type">Type d'utilisateur<span class="text-danger">* </span> <i class="bi-info-circle text-primary size-bi" data-bs-toggle="modal" data-bs-target="#userType"></i>
              </label>
              <!-- End Button trigger modal -->
              <input [ngClass]="{'is-invalid':submitted && userForm.get('type')?.invalid}" type="text" class="form-control" id="type" name="type" formControlName="type" required>
              <div *ngIf="submitted && userForm.get('type')?.errors?.['required']" class="text-danger">
                Le type d'utilisateur est obligatoire.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <app-password-field [passwordControl]="getPasswordControl()" [submitted]="submitted"></app-password-field>
          </div>

          <div class="col-sm-6">
            <div class="form-group mb-md-auto d-flex mt-4">
              <div class="form-check mt-1 mt-md-4">
                <input class="form-check-input" type="checkbox" id="isAccess" name="isAccess" formControlName="isAccess">
                <label class="form-check-label" for="isAccess">
                  Compte autorisé
                </label>
              </div>
            </div>
          </div>
        </div>


        <span class="divider-center text-muted mt-4">Adresse de livraison</span>
        <!-- address -->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group mt-4">
              <label for="deliveryStreet">Numéro et nom de la rue<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="deliveryStreet" name="deliveryStreet" formControlName="deliveryStreet">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group mt-4">
              <label for="deliveryAddressComplement">Complément d'adresse</label>
              <input type="text" class="form-control" id="deliveryAddressComplement" name="deliveryAddressComplement" formControlName="deliveryAddressComplement">
            </div>
          </div>
        </div>

        <!-- address end-->
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group mt-4">
              <label for="deliveryZipCode">Code Postal<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="deliveryZipCode" name="deliveryZipCode" formControlName="deliveryZipCode">
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group mt-4">
              <label for="deliveryCity">Ville<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="deliveryCity" name="deliveryCity" formControlName="deliveryCity">
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group mt-4">
              <label for="deliveryCountry">Pays<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="deliveryCountry" name="deliveryCountry" formControlName="deliveryCountry" >
            </div>
          </div>
        </div>

        <span class="divider-center text-muted mt-4">Adresse de facturation</span>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group mt-4">
              <label for="invoiceStreet">Numéro et nom de la rue<span class="text-danger">*</span></label>
              <input [ngClass]="{'is-invalid':submitted && userForm.get('invoiceStreet')?.invalid}" type="text" class="form-control" id="invoiceStreet" name="invoiceStreet" formControlName="invoiceStreet">
              <div *ngIf="submitted && userForm.get('invoiceStreet')?.errors?.['required']" class="text-danger">
                Le numéro et nom de la rue sont obligatoire.
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group mt-4">
              <label for="invoiceAddressComplement">Complément d'adresse</label>
              <input type="text" class="form-control" id="invoiceAddressComplement" name="invoiceAddressComplement" formControlName="invoiceAddressComplement">
            </div>
          </div>
        </div>

        <!-- address end-->
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group mt-4">
              <label for="invoiceZipCode">Code postal<span class="text-danger">*</span></label>
              <input [ngClass]="{'is-invalid':submitted && userForm.get('invoiceZipCode')?.invalid}" type="text" class="form-control" id="invoiceZipCode" name="invoiceZipCode" formControlName="invoiceZipCode">
              <div *ngIf="submitted && userForm.get('invoiceZipCode')?.errors?.['required']" class="text-danger">
                Le code postal est obligatoire.
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group mt-4">
              <label for="invoiceCity">Ville<span class="text-danger">*</span></label>
              <input [ngClass]="{'is-invalid':submitted && userForm.get('invoiceCity')?.invalid}" type="text" class="form-control" id="invoiceCity" name="invoiceCity" formControlName="invoiceCity">
              <div *ngIf="submitted && userForm.get('invoiceCity')?.errors?.['required']" class="text-danger">
                La ville est obligatoire.
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group mt-4">
              <label for="invoiceCountry">Pays<span class="text-danger">*</span></label>
              <input [ngClass]="{'is-invalid':submitted && userForm.get('invoiceCountry')?.invalid}" type="text" class="form-control" id="invoiceCountry" name="invoiceCountry" formControlName="invoiceCountry">
              <div *ngIf="submitted && userForm.get('invoiceCountry')?.errors?.['required']" class="text-danger">
                Le pays est obligatoire.
              </div>
            </div>
          </div>
        </div>

        <!-- Boutons Ajouter/Modifier/Supprimer -->
        <div class="d-grid gap-2">
          <button class="btn btn-primary mt-3" type="submit" *ngIf="selectedUserCheck" (click)="updateUser()">Modifier</button>
          <button class="btn btn-primary mt-3" type="submit" *ngIf="!selectedUserCheck" (click)="postUser()">Ajouter</button>
          <button class="btn btn-danger mt-3" *ngIf="selectedUserCheck" (click)="deleteUser()">Supprimer</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal user type-->
<div class="modal fade" id="userType" tabindex="-1" role="dialog" aria-labelledby="userType" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userTypeLabel">Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Seules les types "admin" ou "user" sont autorisés.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Modal user password-->
<div class="modal fade" id="userPassword" tabindex="-1" role="dialog" aria-labelledby="userPassword" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userPasswordLabel">Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Le mot de passe est obligatoire uniquement lors de la création ou de la modification du mot de passe d'un compte existant.</p>
        <div>
          <p>Le mot de passe doit respecter les critères suivants :</p>
          <ul>
            <li>Contenir au moins une lettre majuscule</li>
            <li>Contenir au moins une lettre minuscule</li>
            <li>Contenir au moins un chiffre</li>
            <li>Avoir une longueur minimale de 8 caractères</li>
            <li>Autoriser les caractères spéciaux suivants : - + _ ! ?</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
