<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">

      <!-- Dropdown pour sélectionner un utilisateur -->
      <div class="d-flex justify-content-between">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Sélectionner un utilisateur
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let user of users" (click)="selectUser(user)">{{ user.civility }} {{ user.firstname }} {{ user.lastname }}</a>
          </div>
        </div>
        <button class="btn btn-primary" *ngIf="selectedUserCheck" (click)="addUser()">Nouveau utilisateur</button>
      </div>

      <!-- Formulaire pour ajouter/modifier un utilisateur -->
      <form (ngSubmit)="onSubmit()" class="js-validate needs-validation" novalidate id="user-form" [formGroup]="userForm">
        <!-- full name -->
        <div class="row mt-3">
          <div class="col-sm-2">
            <app-select-civility [id]="'civility'" [civilityControl]="getFormControl('civility')" [submitted]="submitted"></app-select-civility>
          </div>

          <div class="col-sm-5">
            <app-firstname-field [id]="'userFirstname'" [firstNameControl]="getFormControl('userFirstname')" [submitted]="submitted"></app-firstname-field>
          </div>

          <div class="col-sm-5">
            <app-lastname-field [id]="'userLastname'" [lastNameControl]="getFormControl('userLastname')" [submitted]="submitted"></app-lastname-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <app-email-field [id]="'email'" [emailControl]="getFormControl('email')" [submitted]="submitted"></app-email-field>
          </div>

          <div class="col-sm-6">
            <div class="form-group mt-2">
              <label for="type">Type d'utilisateur<span class="text-danger">* </span> <i class="bi-info-circle text-primary size-bi" data-bs-toggle="modal" data-bs-target="#userType"></i>
              </label>
              <!-- End Button trigger modal -->
              <input [ngClass]="{'is-invalid':submitted && userForm.get('type')?.invalid}" type="text" class="form-control" id="type" name="type" formControlName="type" required>
              <div *ngIf="submitted && userForm.get('type')?.errors?.['required']" class="text-danger">
                Le type d'utilisateur est obligatoire.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <app-password-field [id]="'password'" [passwordControl]="getFormControl('password')" [submitted]="submitted"></app-password-field>
          </div>

          <div class="col-sm-6">
            <div class="form-group mb-md-auto d-flex mt-4">
              <div class="form-check mt-1 mt-md-4">
                <input class="form-check-input" type="checkbox" id="isAccess" name="isAccess" formControlName="isAccess">
                <label class="form-check-label" for="isAccess">
                  Compte autorisé
                </label>
              </div>
            </div>
          </div>
        </div>

        <span class="divider-center text-muted mt-2">Adresse de livraison</span>
        <!-- address -->
        <div class="row mt-2">
          <div class="col-sm-6">
            <app-street-field [id]="'deliveryStreet'" [streetControl]="getFormControl('deliveryStreet')" [submitted]="submitted"></app-street-field>
          </div>

          <div class="col-sm-6">
            <app-address-complement-field [id]="'deliveryAddressComplement'" [addressComplementControl]="getFormControl('deliveryAddressComplement')"></app-address-complement-field>
          </div>
        </div>

        <!-- address end-->
        <div class="row">
          <div class="col-sm-2">
            <app-zip-code-field [id]="'deliveryZipCode'" [zipCodeControl]="getFormControl('deliveryZipCode')" [submitted]="submitted"></app-zip-code-field>
          </div>

          <div class="col-sm-5">
            <app-city-field [id]="'deliveryCity'" [cityControl]="getFormControl('deliveryCity')" [submitted]="submitted"></app-city-field>
          </div>

          <div class="col-sm-5">
            <app-country-field [id]="'deliveryCountry'" [countryControl]="getFormControl('deliveryCountry')" [submitted]="submitted"></app-country-field>
          </div>
        </div>

        <span class="divider-center text-muted mt-4">Adresse de facturation</span>
        <div class="row mt-2">
          <div class="col-sm-6">
            <app-street-field [id]="'invoiceStreet'" [streetControl]="getFormControl('invoiceStreet')" [submitted]="submitted"></app-street-field>
          </div>

          <div class="col-sm-6">
            <app-address-complement-field [id]="'invoiceAddressComplement'" [addressComplementControl]="getFormControl('invoiceAddressComplement')"></app-address-complement-field>
          </div>
        </div>

        <!-- address end-->
        <div class="row">
          <div class="col-sm-2">
            <app-zip-code-field [id]="'invoiceZipCode'" [zipCodeControl]="getFormControl('invoiceZipCode')" [submitted]="submitted"></app-zip-code-field>
          </div>

          <div class="col-sm-5">
            <app-city-field [id]="'invoiceCity'" [cityControl]="getFormControl('invoiceCity')" [submitted]="submitted"></app-city-field>
          </div>

          <div class="col-sm-5">
            <app-country-field [id]="'invoiceCountry'" [countryControl]="getFormControl('invoiceCountry')" [submitted]="submitted"></app-country-field>
          </div>
        </div>

        <!-- Boutons Ajouter/Modifier/Supprimer -->
        <div class="d-grid gap-2">
          <button class="btn btn-primary mt-3" type="submit" *ngIf="selectedUserCheck" (click)="updateUser()">Modifier</button>
          <button class="btn btn-primary mt-3" type="submit" *ngIf="!selectedUserCheck" (click)="postUser()">Ajouter</button>
          <button class="btn btn-danger mt-3" *ngIf="selectedUserCheck" (click)="deleteUser()">Supprimer</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal user type-->
<div class="modal fade" id="userType" tabindex="-1" role="dialog" aria-labelledby="userType" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userTypeLabel">Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Seules les types "admin" ou "user" sont autorisés.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

