<div class="mb-4 form-group">
  <label class="form-label" [for]="id">Confirmer le mot de passe<span class="text-danger">*</span></label>
  <div class="input-group-merge">
    <input [formControl]="confirmPasswordControl" [ngClass]="{'is-invalid':submitted && confirmPasswordControl.invalid}" type="password" class="js-toggle-password form-control form-control-lg" name="confirmPassword" [id]="id" placeholder="Mot de passe fort" aria-label="Mot de passe fort" required minlength="8">
    <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:" (click)="displayConfirmPassword()">
      <i class="js-toggle-password-show-icon-2 bi-eye"></i>
    </a>
    <div *ngIf="submitted && confirmPasswordControl.invalid" class="text-danger">
      <ng-container *ngIf="submitted && confirmPasswordControl.errors?.['required']; then errorsRequired; else errorsConfirmPassword"></ng-container>
      <ng-template #errorsRequired>Merci de saisir votre mot de passe.</ng-template>
      <ng-template #errorsConfirmPassword>La confirmation du mot de passe doit être identique au mot de passe.</ng-template>
    </div>
  </div>
</div>
