<main id="content" role="main" class="flex-grow-1 overflow-hidden mt-5">
  <!-- Content -->
  <div class="container content-space-t-1 content-space-b-2 mt-5">
    <div class="mx-lg-auto mt-5">
      <div class="justify-content-center align-items-center flex-column">
        <div class="justify-content-center align-items-center d-flex">
          <!-- Nav -->
          <ul class="nav nav-segment justify-content-center mb-7" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="nav-one-eg2-tab" href="#nav-one-eg2" data-bs-toggle="pill" data-bs-target="#nav-one-eg2" role="tab" aria-controls="nav-one-eg2" aria-selected="true">
                <i class="bi-house nav-icon"></i> Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-two-eg2-tab" href="#nav-two-eg2" data-bs-toggle="pill" data-bs-target="#nav-two-eg2" role="tab" aria-controls="nav-two-eg2" aria-selected="false">
                <i class="bi-book nav-icon"></i> Articles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-three-eg2-tab" href="#nav-three-eg2" data-bs-toggle="pill" data-bs-target="#nav-three-eg2" role="tab" aria-controls="nav-three-eg2" aria-selected="false">
                <i class="bi-box-seam nav-icon"></i> Éditeurs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-four-eg2-tab" href="#nav-four-eg2" data-bs-toggle="pill" data-bs-target="#nav-four-eg2" role="tab" aria-controls="nav-four-eg2" aria-selected="false">
                <i class="bi-pen nav-icon"></i> Auteurs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-five-eg2-tab" href="#nav-five-eg2" data-bs-toggle="pill" data-bs-target="#nav-five-eg2" role="tab" aria-controls="nav-five-eg2" aria-selected="false">
                <i class="bi-collection nav-icon"></i> Genres
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-six-eg2-tab" href="#nav-six-eg2" data-bs-toggle="pill" data-bs-target="#nav-six-eg2" role="tab" aria-controls="nav-six-eg2" aria-selected="false">
                <i class="bi-person nav-icon"></i> Comptes
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="col-lg-8">
          <div id="cart-success" class="alert alert-primary" role="alert" style="display:none;"></div>
          <div id="cart-error" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>
      </div>

          <!-- Tab Content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-one-eg2" role="tabpanel" aria-labelledby="nav-one-eg2-tab">

          <!-- Accordion -->
          <div class="accordion" id="accordionOrder">
            <div *ngFor="let order of orderList; let i = index"  class="accordion-item">
              <div class="accordion-header" [id]="'heading' + i">
                <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i" >
                  Commande n°{{ order.number }} du {{ order.date | date: 'dd/MM/yyyy' }}
                </a>
              </div>
              <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionOrder">
                <div class="accordion-body">
                  <div *ngFor="let item of order.lines" class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-2 col-md-1">
                          <div class="avatar">
                            <img class="avatar-img" [src]="'data:image/png;base64,' + item.image" alt="Image Description">
                          </div>
                        </div>
                        <div class="col-10 col-md-11">
                          <div class="row">
                            <div class="col-md-6">
                              <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                            <div class="col-md-3">
                              <p class="card-text"><strong>Prix :</strong> {{ item.priceIncludingTaxes | number:'.2' }} €</p>
                            </div>
                            <div class="col-md-3">
                              <p class="card-text"><strong>Quantité :</strong> {{ item.quantityOrder }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mt-2">Montant : {{ order.totalExcludingTaxes | number:'.2' }} €</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Accordion -->

        </div>

        <div class="tab-pane fade" id="nav-two-eg2" role="tabpanel" aria-labelledby="nav-two-eg2-tab">
          <app-articles></app-articles>
        </div>

        <div class="tab-pane fade" id="nav-three-eg2" role="tabpanel" aria-labelledby="nav-three-eg2-tab">
          <app-editor></app-editor>
        </div>

        <div class="tab-pane fade" id="nav-four-eg2" role="tabpanel" aria-labelledby="nav-four-eg2-tab">
          <app-author></app-author>
        </div>

        <div class="tab-pane fade" id="nav-five-eg2" role="tabpanel" aria-labelledby="nav-five-eg2-tab">
          <app-type></app-type>
        </div>

        <div class="tab-pane fade" id="nav-six-eg2" role="tabpanel" aria-labelledby="nav-six-eg2-tab">
          <app-users></app-users>
        </div>

      </div>
          <!-- End Tab Content -->
    </div>
  </div>
  <!-- End Content -->
</main>



