  <main id="content" role="main" class="flex-grow-1 overflow-hidden mt-5">
    <!-- Content -->
    <div class="container content-space-t-1 content-space-b-2 mt-5">
      <div class="mx-lg-auto mt-5" style="max-width: 55rem;">
        <div class="d-flex justify-content-center align-items-center flex-column min-vh-lg-100">
          <div class="position-relative">
            <!-- Card -->
            <div class="card card-shadow card-login">
              <div class="row">
                  <div class="card-body">
                    <!-- Form -->
                    <form class="js-validate needs-validation" novalidate>
                      <div class="text-center">
                        <div class="mb-5">
                          <h3 class="card-title">Créer votre compte</h3>
                        </div>

                        <a class="btn btn-white btn-lg d-grid mb-4" href="#">
                          <span class="d-flex justify-content-center align-items-center">
                            <img class="avatar avatar-xss me-2" src="./assets/svg/brands/google-icon.svg" alt="Image Description">
                            S'enregistrer avec Google
                          </span>
                        </a>

                        <a class="btn btn-white btn-lg d-grid mb-4" href="#">
                            <span class="d-flex justify-content-center align-items-center">
                                    <img class="avatar avatar-xs me-2" src="./assets/svg/brands/facebook.svg" alt="Image Description">
                                    S'enregistrer avec Facebook
                            </span>
                        </a>

                        <span class="divider-center text-muted mb-4">OU</span>
                      </div>

                      <label class="form-label" for="fullNameSrEmail">Nom complet</label>

                      <!-- Form -->
                      <div class="row">
                        <div class="col-sm-6">
                          <!-- Form -->
                          <div class="mb-4">
                            <input type="text" class="form-control form-control-lg" name="fullName" id="fullNameSrEmail" placeholder="Mark" aria-label="Mark" required>
                            <span class="invalid-feedback">Merci de saisir votre prénom.</span>
                          </div>
                          <!-- End Form -->
                        </div>

                        <div class="col-sm-6">
                          <!-- Form -->
                          <div class="mb-4">
                            <input type="text" class="form-control form-control-lg" placeholder="Williams" aria-label="Williams" required>
                            <span class="invalid-feedback">Merci de saisir votre nom.</span>
                          </div>
                          <!-- End Form -->
                        </div>
                      </div>
                      <!-- End Form -->

                      <!-- Form -->
                      <div class="mb-4">
                        <label class="form-label" for="signupSrEmail">Votre email</label>
                        <input type="email" class="form-control form-control-lg" name="email" id="signupSrEmail" placeholder="Markwilliams@site.com" aria-label="Markwilliams@site.com" required>
                        <span class="invalid-feedback">Merci de saisir un email valide.</span>
                      </div>
                      <!-- End Form -->

                      <!-- Form -->
                      <div class="mb-4">
                        <label class="form-label" for="signupSrPassword">Mot de passe</label>

                        <div class="input-group-merge">
                          <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSrPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8"
                                 data-hs-toggle-password-options='{
                                   "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                                   "defaultClass": "bi-eye-slash",
                                   "showClass": "bi-eye",
                                   "classChangeTarget": ".js-toggle-password-show-icon-1"
                                 }'>
                          <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:;">
                            <i class="js-toggle-password-show-icon-1 bi-eye"></i>
                          </a>
          
                          <span class="invalid-feedback">Votre mote de passe est invalide. Saisir un nouveau mot de passe.</span>
                        </div>
                      </div>
                      <!-- End Form -->

                      <!-- Form -->
                      <div class="mb-4">
                        <label class="form-label" for="signupSrConfirmPassword">Confirmer le mot de passe</label>

                        <div class="input-group-merge">
                          <input type="password" class="js-toggle-password form-control form-control-lg" name="confirmPassword" id="signupSrConfirmPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8"
                                 data-hs-toggle-password-options='{
                                   "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                                   "defaultClass": "bi-eye-slash",
                                   "showClass": "bi-eye",
                                   "classChangeTarget": ".js-toggle-password-show-icon-2"
                                 }'>
                          <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:;">
                            <i class="js-toggle-password-show-icon-2 bi-eye"></i>
                          </a>
          
                          <span class="invalid-feedback">Les mots de passe ne correspondent pas.</span>
                        </div>
                      </div>
                      <!-- End Form -->

                      <!-- Form Check -->
                      <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="termsCheckbox" required>
                        <label class="form-check-label" for="termsCheckbox">I accept the <a href="#">Terms and Conditions</a></label>
                        <span class="invalid-feedback">Please accept our Terms and Conditions.</span>
                      </div>
                      <!-- End Form Check -->

                      <div class="d-grid gap-4">
                        <button type="submit" class="btn btn-primary btn-lg">Créer mon compte</button>
                        <p class="card-text text-muted">Mot de passe oublié ? <a class="link" routerLink="login">Se connecter</a></p>
                      </div>
                    </form>
                    <!-- End Form -->
                  </div>
                </div>
                <!-- End Col -->

              <!-- End Row -->
            </div>
            <!-- End Card -->

            <!-- SVG Shape -->
            <figure class="position-absolute top-0 end-0 zi-n1 d-none d-sm-block mt-n7 me-n10" style="width: 4rem;">
              <img class="img-fluid" src="./assets/svg/components/pointer-up.svg" alt="Image Description">
            </figure>
            <!-- End SVG Shape -->

            <!-- SVG Shape -->
            <figure class="position-absolute bottom-0 start-0 d-none d-sm-block ms-n10 mb-n10" style="width: 15rem;">
              <img class="img-fluid" src="./assets/svg/components/curved-shape.svg" alt="Image Description">
            </figure>
            <!-- End SVG Shape -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </main>
