  <main id="content" role="main" class="flex-grow-1 overflow-hidden mt-5">
    <!-- Content -->
    <div class="container content-space-t-1 content-space-b-2 mt-5">
      <div class="mx-lg-auto mt-5" style="max-width: 55rem;">
        <div class="d-flex justify-content-center">
          <div class="col-lg-8">
            <div id="cart-success" class="alert alert-primary" role="alert" style="display:none;"></div>
            <div id="cart-error" class="alert alert-danger" role="alert" style="display:none;"></div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column min-vh-lg-100">
          <div class="position-relative">
            <!-- Card -->
            <div class="card card-shadow card-login">
              <div class="row">
                  <div class="card-body">
                    <!-- Form -->
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="js-validate needs-validation" novalidate id="signup-form">
                      <div class="text-center">
                        <div class="mb-5">
                          <h3 class="card-title">Créer votre compte</h3>
                        </div>
                      </div>

                      <!-- full name -->
                      <div class="row">
                        <div class="col-sm-2">
                          <app-select-civility [id]="'civility'" [civilityControl]="getFormControl('civility')" [submitted]="submitted"></app-select-civility>
                        </div>

                        <div class="col-sm-5">
                          <app-firstname-field [id]="'firstName'" [firstNameControl]="getFormControl('firstName')" [submitted]="submitted"></app-firstname-field>
                        </div>

                        <div class="col-sm-5">
                          <app-lastname-field [id]="'lastName'" [lastNameControl]="getFormControl('lastName')" [submitted]="submitted"></app-lastname-field>
                        </div>
                      </div>

                      <!-- Address -->
                      <div class="row">
                        <div class="col-sm-6">
                          <app-street-field [id]="'street'" [streetControl]="getFormControl('street')" [submitted]="submitted"></app-street-field>
                        </div>

                        <div class="col-sm-6">
                          <app-address-complement-field [id]="'addressComplement'" [addressComplementControl]="getFormControl('addressComplement')"></app-address-complement-field>
                        </div>
                      </div>

                      <!-- address more -->
                      <div class="row">
                        <div class="col-sm-2">
                          <app-zip-code-field [id]="'zipCode'" [zipCodeControl]="getFormControl('zipCode')" [submitted]="submitted"></app-zip-code-field>
                        </div>

                        <div class="col-sm-5">
                          <app-city-field [id]="'city'" [cityControl]="getFormControl('city')" [submitted]="submitted"></app-city-field>
                        </div>

                        <div class="col-sm-5">
                          <app-country-field [id]="'country'" [countryControl]="getFormControl('country')" [submitted]="submitted"></app-country-field>
                        </div>
                      </div>

                      <app-email-field [id]="'email'" [emailControl]="getFormControl('email')" [submitted]="submitted"></app-email-field>

                      <app-password-field [id]="'password'" [passwordControl]="getFormControl('password')" [submitted]="submitted"></app-password-field>

                      <app-confirm-password-field [id]="'confirmPassword'" [confirmPasswordControl]="getFormControl('confirmPassword')" [submitted]="submitted"></app-confirm-password-field>

                      <div class="d-grid gap-4">
                        <button type="submit" class="btn btn-primary btn-lg">Créer mon compte</button>

                        <p class="card-text text-muted">Vous avez déjà un compte ? <a class="link" routerLink="../login">Se connecter</a></p>
                      </div>
                    </form>
                    <!-- End Form -->
                  </div>
                </div>
                <!-- End Col -->

              <!-- End Row -->
            </div>
            <!-- End Card -->

            <!-- SVG Shape -->
            <figure class="position-absolute top-0 end-0 zi-n1 d-none d-sm-block mt-n7 me-n10" style="width: 4rem;">
              <img class="img-fluid" src="../../../assets/img/pointer-up.svg" alt="Image Description">
            </figure>
            <!-- End SVG Shape -->

            <!-- SVG Shape -->
            <figure class="position-absolute bottom-0 start-0 d-none d-sm-block ms-n10 mb-n10" style="width: 15rem;">
              <img class="img-fluid" src="../../../assets/img/curved-shape.svg" alt="Image Description">
            </figure>
            <!-- End SVG Shape -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </main>


