<div class="mb-4 form-group">
  <label class="form-label" for="password">Mot de passe<span class="text-danger">* </span> <i class="bi-info-circle text-primary size-bi" data-bs-toggle="modal" data-bs-target="#userPassword"></i></label>
  <div class="input-group-merge">
    <input [formControl]="passwordControl" [ngClass]="{'is-invalid':submitted && passwordControl.invalid}" type="password" class="js-toggle-password form-control form-control-lg" name="password" id="password" placeholder="Mot de passe fort" aria-label="Mot de passe fort." required minlength="8"
           data-hs-toggle-password-options='{
             "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
             "defaultClass": "bi-eye-slash",
             "showClass": "bi-eye",
             "classChangeTarget": ".js-toggle-password-show-icon-1"
           }'>
    <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:" (click)="displayPassword()">
      <i class="js-toggle-password-show-icon-1 bi-eye"></i>
    </a>
    <div *ngIf="submitted && passwordControl?.invalid" class="text-danger">
      <ng-container *ngIf="submitted && passwordControl?.errors?.['required']; then errorsRequired; else errorsPassword"></ng-container>
      <ng-template #errorsRequired>Merci de saisir votre mot de passe.</ng-template>
      <ng-template #errorsPassword>Le mot de passe doit comporter au moins une lettre majuscule, une lettre minuscule, un chiffre et qui comporte au moins 8 caractères composés de lettres, de chiffres et des caractères spéciaux autorisés - + _ ! ?</ng-template>
    </div>
  </div>
</div>

