<div class="container content-space-b-4">
  <div class="d-flex justify-content-center">
    <div class="col-lg-6">
      <!-- Dropdown pour sélectionner un auteur -->
      <div class="d-flex justify-content-between">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Sélectionner un auteur
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let author of authors" (click)="selectAuthor(author)">{{ author.firstname }} {{ author.lastname }}</a>
          </div>
        </div>
        <button class="btn btn-primary" *ngIf="selectedAuthorCheck" (click)="addAuthor()">Nouveau auteur</button>
      </div>
      <!-- Formulaire pour ajouter/modifier un auteur -->
      <form (ngSubmit)="onSubmit()" class="js-validate needs-validation" novalidate id="author-form" [formGroup]="authorForm">
       <div class="form-group mt-4">
          <label for="firstname">Prénom<span class="text-danger">*</span></label>
          <input [ngClass]="{'is-invalid':submitted && authorForm.get('firstname')?.invalid}" type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" required>
          <div *ngIf="submitted && authorForm.get('firstname')?.errors?.['required']" class="text-danger">
            Le prénom de l'auteur est obligatoire.
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">Nom<span class="text-danger">*</span></label>
          <input [ngClass]="{'is-invalid':submitted && authorForm.get('lastname')?.invalid}" type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" required>
          <div *ngIf="submitted && authorForm.get('lastname')?.errors?.['required']" class="text-danger">
            Le nom de l'auteur est obligatoire.
          </div>
        </div>
        <div class="form-group">
          <label for="language">Langue<span class="text-danger">*</span></label>
          <input [ngClass]="{'is-invalid':submitted && authorForm.get('language')?.invalid}" type="text" class="form-control" id="language" name="language" formControlName="language" required>
          <div *ngIf="submitted && authorForm.get('language')?.errors?.['required']" class="text-danger">
            La langue de l'auteur est obligatoire.
          </div>
        </div>

        <!-- Boutons Ajouter/Modifier/Supprimer -->
        <div class="d-grid gap-2">
          <button class="btn btn-primary mt-3" type="submit" *ngIf="selectedAuthorCheck" (click)="updateAuthor()">Modifier</button>
          <button class="btn btn-primary mt-3" type="submit" *ngIf="!selectedAuthorCheck" (click)="postAuthor()">Ajouter</button>
          <button class="btn btn-danger mt-3" *ngIf="selectedAuthorCheck" (click)="deleteAuthor()">Supprimer</button>
        </div>
      </form>

    </div>
  </div>
</div>
