  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">


    <!-- Search -->
    <div class="overflow-hidden content-space-t-2 ">
      <div class="container content-space-1">
        <div class="w-lg-50 text-center mx-lg-auto">
          <!-- Heading -->
          <div class="mb-5">
            <h1 class="display-4">Livre de formation</h1>
            <p>Le numérique vous interesse ? Ici vous trouverez tous nos livres.</p>
          </div>
          <!-- End Heading -->

          <form>
            <div class="position-relative">
              <!-- Input Card -->
              <div class="input-card input-card-sm">
                <div class="input-card-form">
                  <label for="searchForm" class="form-label visually-hidden">Quel livre cherchez-vous ?</label>
                  <input type="text" class="form-control form-control-lg" id="searchForm" placeholder="Quel livre cherchez-vous ?" aria-label="Quel livre cherchez-vous ?">
                </div>
                <button type="button" class="btn btn-dark btn-lg"><i class="bi-search"></i></button>
              </div>
              <!-- End Input Card -->

              <!-- SVG Shape -->
              <figure class="position-absolute top-0 end-0 d-none d-sm-block zi-n1 mt-n7 me-n10" style="width: 4rem;">
                <img class="img-fluid" src="../assets/svg/components/pointer-up.svg" alt="Image Description">
              </figure>
              <!-- End SVG Shape -->

              <!-- SVG Shape -->
              <figure class="position-absolute bottom-0 start-0 zi-n1 mb-n7" style="width: 12rem; margin-left: -10rem;">
                <img class="img-fluid" src="../assets/svg/components/curved-shape.svg" alt="Image Description">
              </figure>
              <!-- End SVG Shape -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Search -->



    

    <!-- Articles -->
    <div class="container content-space-t-1">
      <span class="divider-start mb-4">Meilleurs ventes</span>
      <div class="row row-cols-1 row-cols-sm-2 gx-7">
        <div *ngFor="let item of article">
        <div class="col mb-7 mb-md-10">
          <!-- Card -->      
          <a class="card card-ghost h-100" href="../blog-article.html">
            <div class="row">
              <div class="col-lg-5 mb-3 mb-lg-0">
                <img class="card-img" src="../assets/img/580x480/img14.jpg" alt="Image Description">
              </div>
              <!-- End Col -->
              <div class="col-lg-7">
                <h4>{{ item.title }}</h4>
                <p class="card-text">Produce professional, reliable streams easily leveraging Htmlstream's innovative broadcast studio</p>
                <p class="card-text">{{ item.unitPriceIncludingTaxes }} €</p>
                <span class="card-link">Read more</span>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </a>
        </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Articles -->








   
   

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
        <h2>Less overhead, more collaboration</h2>
        <p>Start with award-winning templates, then customize to fit your style and professional needs.</p>
      </div>
      <!-- End Heading -->

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mb-5 mb-md-0">
          <!-- Card -->
          <a class="card card-ghost card-transition-zoom h-100" href="./blog-article.html">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="./assets/img/580x480/img1.jpg" alt="Image Description">
            </div>

            <div class="card-body">
              <h4>Virtual Venue</h4>
              <p class="card-text">Create an immersive attendee experience with interactive programming for both digital and onsite audiences</p>
            </div>

            <div class="card-footer">
              <span class="card-link">Explore Virtual Venue</span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col mb-5 mb-md-0">
          <!-- Card -->
          <a class="card card-ghost card-transition-zoom h-100" href="./blog-article.html">
            <div class="card-pinned card-transition-zoom-item">
              <img class="card-img" src="./assets/img/580x480/img2.jpg" alt="Image Description">
              <span class="badge bg-dark text-white card-pinned-top-end">Sponsored</span>
            </div>

            <div class="card-body">
              <h4>Studio by Htmlstream</h4>
              <p class="card-text">Produce professional, reliable streams easily leveraging Htmlstream's innovative broadcast studio</p>
            </div>

            <div class="card-footer">
              <span class="card-link">Explore Studio</span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col">
          <!-- Card -->
          <a class="card card-ghost card-transition-zoom h-100" href="./blog-article.html">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="./assets/img/580x480/img3.jpg" alt="Image Description">
            </div>

            <div class="card-body">
              <h4>Onsite</h4>
              <p class="card-text">Optimize your in-person experience with best-in-class capabilities like badge printing and lead retrieval</p>
            </div>

            <div class="card-footer">
              <span class="card-link">Explore Onsite</span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card Grid -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->


