<div class="mb-4 form-group">
  <label class="form-label" for="firstName">Prénom<span class="text-danger">*</span></label>
  <input [formControl]="firstNameControl" [ngClass]="{'is-invalid':submitted && firstNameControl?.invalid}" type="text" class="form-control form-control-lg" name="firstName" id="firstName" placeholder="Williams" aria-label="Williams" required>
  <div *ngIf="submitted && firstNameControl?.errors?.['required']" class="text-danger">
    Merci de saisir votre prénom.
  </div>
  <div *ngIf="submitted && firstNameControl?.errors?.['minlength']" class="text-danger">
    Votre prénom doit comporter au moins 3 lettres.
  </div>
</div>
